# base de datos (Amazon RDS)
DB_USER=postgres
DB_PASSWORD=aqui_va_la_contrasena
DB_HOST=videoapp-db.xxxxxxxxxxxx.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=videoapp_db

# buckets de S3 (los permisos los da el IAM Role de la EC2, aqui NO van claves de AWS)
AWS_REGION=us-east-1
BUCKET_VIDEOS=leandro-videoapp-videos
BUCKET_MINIATURAS=leandro-videoapp-miniaturas

# secreto para firmar los tokens de login
JWT_SECRET=aqui_va_un_texto_largo_y_random

# url del bucket del frontend (para el CORS)
FRONTEND_URL=http://leandro-videoapp-frontend.s3-website-us-east-1.amazonaws.com
